<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
                <a href="/">Home</a>
            </li>
            <li role="presentation">
                <a href="/server/user">Find A User</a>
            </li>
            {{#if user}}
            <li role="presentation">
                <a href="/account">Account</a>
            </li>
            <li role="presentation">
                <a href="/account/logout">Logout</a>
            </li>
            {{else}}
            <li role="presentation">
                <a href="/account/login">Login</a>
            </li>
            <li role="presentation">
                <a href="/account/register">Register</a>
            </li>
            {{/if}}
            {{#if user.admin}}
            <li role="presentation">
                <a href="/account/admin">Admin</a>
            </li>
            {{/if}}
        </ul>
    </nav>
    <h3 class="text-muted">XLR8 OFFICIAL</h3>
</div>

<div class="row">
    <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{{body}}}
        <footer class="footer">
            <p>&copy; 2018 XLR8 OFFICIAL</p>
        </footer>
    </div>
</div>
