<!DOCTYPE html>
<html>
<head>
    <title>XLR8 OFFICIAL</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/animate.css">
    <style>
        .desktop{
            display: none;
        }
        
        .phone{
            display: none;
            padding: 5% 6% 0 6%;
        }

        .tablet{
            display: none;
            padding: 2% 12% 0 12%;
        }

        .jumbotron ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .padd {
            padding-bottom: 15px;
        }
        
        .btn-hover:hover {
            background-color: darkgreen;
        }
        
        .size {
            height: 60px;
        }
        
        .modal{
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
        }

        .modal-content{
            background-color: #f4f4f4;
            margin: 10% auto;
            padding: 0px 20px;
            width: 70%;
            box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
            animation-name: modalopen;
            animation-duration: 1s;
        }

        .modal-header h2{
            margin:0;
        }

        .modal-header{
            background-color: lightgrey;
            padding: 15px;
        }

        .closebtn{
            color: rgb(146, 146, 146);
            float: right;
            font-size: 30px;
        }

        .closebtn:hover,.closebtn:focus{
            color: #000;
            text-decoration: none;
            cursor: pointer;

        }

        .marginaddbottom{
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .decor{
            text-decoration: underline;
        }

        @keyframes modalopen{
            from{opacity: 0}
            to{opacity: 1}
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- desktop -->
        <div class="desktop">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active">
                            <a href="/">Home</a>
                        </li>
                        <li role="presentation">
                            <a href="/server/user">Find A User</a>
                        </li>
                        {{#if user}}
                        <li role="presentation">
                            <a href="/account">Account</a>
                        </li>
                        <li role="presentation">
                            <a href="/account/logout">Logout</a>
                        </li>
                        {{else}}
                        <li role="presentation">
                            <a href="/account/login">Login</a>
                        </li>
                        <li role="presentation">
                            <a href="/account/register">Register</a>
                        </li>
                        {{/if}}
                        {{#if user.admin}}
                        <li role="presentation">
                            <a href="/account/admin">Admin</a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
                <h3 class="text-muted">XLR8 OFFICIAL</h3>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}} {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}} {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                    {{/if}} 
                    {{{body}}}
                    <footer class="footer">
                        <p>&copy; 2018 XLR8 OFFICIAL</p>
                    </footer>
                </div>
            </div>
        </div>
        <!-- End Desktop -->
        <!-- Phone -->
        <div class="phone">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <a onclick="openNav()" class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg width="30" height="30">
                                <path d="M0,5 30,5" stroke="#000" stroke-width="5" />
                                <path d="M0,14 30,14" stroke="#000" stroke-width="5" />
                                <path d="M0,23 30,23" stroke="#000" stroke-width="5" />
                            </svg>
                        </a>
                    </ul>
                </nav>
                <h3 class="text-muted">XLR8 OFFICIAL</h3>
            </div>
            <nav>
                <div id="side-menu" class="side-nav">
                    <a href="#" class="btn-close" onclick="closeNav()">&times;</a>
                    <li role="presentation" class="active">
                        <a href="/">Home</a>
                    </li>
                    <li role="presentation">
                        <a href="/server/user">Find A User</a>
                    </li>
                    {{#if user}}
                    <li role="presentation">
                        <a href="/account">Account</a>
                    </li>
                    <li role="presentation">
                        <a href="/account/logout">Logout</a>
                    </li>
                    {{else}}
                    <li role="presentation">
                        <a href="/account/login">Login</a>
                    </li>
                    <li role="presentation">
                        <a href="/account/register">Register</a>
                    </li>
                    {{/if}} {{#if user.admin}}
                    <li role="presentation">
                        <a href="/account/admin">Admin</a>
                    </li>
                    {{/if}}
                </div>
            </nav>
            
            <div class="row">
                <div class="col-lg-12">
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}} {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}} {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                    {{/if}} {{{body}}}
                    <footer class="footer">
                        <p>&copy; 2018 XLR8 OFFICIAL</p>
                    </footer>
                </div>
            </div>
        </div>
        <!-- End Phone -->
        <!-- Tablet -->
        <div class="tablet">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active">
                            <a href="/">Home</a>
                        </li>
                        <li role="presentation">
                            <a href="/server/user">Find A User</a>
                        </li>
                        {{#if user}}
                        <li role="presentation">
                            <a href="/account">Account</a>
                        </li>
                        <li role="presentation">
                            <a href="/account/logout">Logout</a>
                        </li>
                        {{else}}
                        <li role="presentation">
                            <a href="/account/login">Login</a>
                        </li>
                        <li role="presentation">
                            <a href="/account/register">Register</a>
                        </li>
                        {{/if}} {{#if user.admin}}
                        <li role="presentation">
                            <a href="/account/admin">Admin</a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
                <h3 class="text-muted">XLR8 OFFICIAL</h3>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}} {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}} {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                    {{/if}} {{{body}}}
                    <footer class="footer">
                        <p>&copy; 2018 XLR8 OFFICIAL</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/mobile-detect.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        let md = new MobileDetect(window.navigator.userAgent);
        let mdP = md.phone();
        let mdT = md.tablet();
        
        console.log(mdP);
        console.log(mdT);

        if(mdP === null && mdT === null){
            $(".desktop").show();
        }

        if(mdP && mdT === null){
            $(".phone").show();
        }

        if (mdT && mdP === null) {
            $(".tablet").show();
        }

        function openNav(){
            $("#side-menu").css("width", "50%");
            $(".container").css("margin-right", "50%");
        }

        function closeNav(){
            $("#side-menu").css("width", "0");
            $(".container").css("margin-right", "0");
        }
    </script>
</body>
</html>